<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS only -->
     <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
     crossorigin="anonymous"
   />
    <title>App de Gonzalo</title>
</head>
<body style="width:500px; margin:10px; background-color: azure;">
    <h1 style="font: 3em sans-serif;">Centro de mensajes</h1>

    <form class="was-validated">
        <div class="mb-3">
            <label for="validationTooltipUsername" class="form-label">Ingrese su email:</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
              <input type="text" class="form-control" id="email" aria-describedby="validationTooltipUsernamePrepend" required>
              <div class="invalid-tooltip">
                Por favor seleccione un email valido.
              </div>
            </div>    
        </div>
        <div class="mb-3">
                <label for="validationTextarea" class="form-label">Ingrese el mensaje: </label>
                <textarea class="form-control is-invalid" id="mensaje" placeholder="" required></textarea>
                <div class="invalid-feedback">
                  Por favor ingrese su mensaje es esta area.
                </div>
              </div>           
        </div>
        <button id="btn" type="submit" class="btn btn-primary">Enviar</button>
      </form>

      <div id="mensajes"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/front.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
</body>
</html>