
<div class="row">
    <div class="col-md-5">
        <div class="card mt-4">
            <div class="card-body">
                <form action="/signup" method="POST">
                    <input type="name" name="name" placeholder="Nombre">
                    <input type="password" name="password" placeholder="Contraseña"> 
                    <button type="submit">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% if (signupMensaje.length > 0)  { %>
    <div class="alert alert-danger"><%= signupMensaje %></div>
<% } %>
